@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    
/* Paleta de Cores */
    --Cor-pricipal: rgb(255, 0, 0);
    --Cor-background: white;
    
/* Fonts */
    --font-pricicipal: "Poppins";
    --font-segudaria: "Arial";
}

/* Corpo do Site */

body {
    background-color: var(--Cor-background);
    font-family: var(--font-pricicipal);
    margin: 30px;
}

/* Logo */
.logo>img {
    width: 64px;
    padding:5px;
    margin: auto;
    /* gambiarra */
    float: left;
}

/* cabeçalho */

header {
    text-align: left;

}
    /* Navbarr */
nav {
    padding: 10px;
    margin: 10px;
    text-align: right;
}

nav > a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
    display: inline-flex;
    transition-duration: 0.4s;
}

nav >a:hover {
    background-color: antiquewhite;
}


/* Conteudo */

main {
    text-align: left;
}

/* foorter */

footer {
    text-align: center;
}